<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">Contact Me:</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>
          <span>Github: </span>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <span>OSChina: </span>
          <a href="http://git.oschina.net/{{ site.oschina_username }}">
            <span class="username">{{ site.oschina_username }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <ul>
        <li>
          <span>EMail: </span>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </li>
      </ul>
    </div>

  </div>

</footer>
